.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

/*---Variables*/

:root {

    --color-white: hsl(0,0%,100%);
    --color-light-gray: hsl(212,45%,89%);
    --color-blue: hsl(218,44%,22%);
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0; 
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background-color: var(--color-light-gray);
    font-size: 15px;
    display: grid;
    place-items: center;
    min-height: 100vh;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.675rem;
}

.container {
    background-color: var(--color-white) ;
    max-width: 320px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem hsla(0,0%,0,0.05);
    text-align: center;
    margin: 1.075rem;

}

h1 {
    font-size: 1.375rem;
    line-height: 1.275;
    margin-top: 1.13em;
    color: var(--color-blue)
}

p{
    line-height: 1.3;
    color: var(--color-blue);
    margin: 1.075em;
}

/*----fonts---*/

/*----styles---*/


